:root {
    --primary-bg-color: #222831;
    --primary-text-color: #FFFFFF;
    --secondary-bg-color: #90D9E0;
    --secondary-text-color: #222831;


    --heading-font: var(--font-family-montserrat);
    --heading-font-size: var(--font-h2-size);




    /* Font family */
    --font-family-montserrat: 'Montserrat', sans-serif;

    /* Font sizes */
    --font-h1-size: 50px;
    --font-h2-size: 37px;
    --font-h3-size: 28px;

    --font-body1-size: 22px;
    --font-body2-size: 20px;

    /* Border Radius */
    --radius-small: 10px;
    --radius-medium: 25px;
    --radius-large: 30px;

    /* Border Radius */
--border-round-day-panel: var(--radius-large);
--border-round-day-forecast-panel: var(--radius-large);
--border-radius-day-details: var(--radius-small);

}